@font-face {
  font-family: 'TTTravels-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('TTTravels-Bold'),
  url('../fonts/TTTravels-Bold.woff2') format('woff2'),
  url('../fonts/TTTravels-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-DemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('TTTravels-DemiBold'),
  url('../fonts/TTTravels-DemiBold.woff2') format('woff2'),
  url('../fonts/TTTravels-DemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Light';
  font-weight: 300;
  font-style: normal;
  src: local('TTTravels-Light'),
  url('../fonts/TTTravels-Light.woff2') format('woff2'),
  url('../fonts/TTTravels-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('TTTravels-Medium'),
  url('../fonts/TTTravels-Medium.woff2') format('woff2'),
  url('../fonts/TTTravels-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('TTTravels-Regular'),
  url('../fonts/TTTravels-Regular.woff2') format('woff2'),
  url('../fonts/TTTravels-Regular.woff') format('woff');
  font-display: swap;
}