// ----------------------------------------------------1440----------------------------------------------------
@media (max-width: 1440px) {
  .header {
    &__top {
      padding: 16px 70px 0 40px;
    }
  }
  .menu {
    &__item {
      margin: 0 12px;
    }
  }
  .cleaning {
    ul.cleaning__room-list {
      padding: 0 0 10px 48px;
    }
    &__room-item {
      font-size: 42px;
    }
  }
}
// ----------------------------------------------------1340----------------------------------------------------
@media (max-width: 1340px) {
  .header {
    &__top {
      flex-wrap: wrap;
    }
    &__inner {
      margin-top: -80px;
    }
    &__content-inner {
      max-width: 370px;
      padding-right: 45px;
    }
  }
  .menu {
    order: 1;
    width: 100%;
    margin-top: 10px;
  }
  .advant {
    padding: 73px 40px 149px;
    &__list {
      grid-gap: 25px;
    }
  }
  .cleaning {
    ul.cleaning__room-list {
      padding: 0 0 10px 38px;
    }
    &__room-list::after {
      display: none;
    }
    &__room-item {
      &--active {
        transform: translateX(25px);
      }
    }
    &__room-link::before {
      display: none;
    }
    &__images-item {
      max-width: 80%;
    }
    &__img-pointer {
      width: 26px;
      height: 26px;
      &::after {
        transform: translate(-50%, -50%) scale(.84);

      }
    }
  }
}
// ----------------------------------------------------1200----------------------------------------------------
@media (max-width: 1200px) {
  .cleaning {
    &__top {
      padding: 0 35px 40px;
    }
  }
  .cleaning {
    ul.cleaning__room-list {
      padding: 0 0 10px 30px;
    }
    &__room-item {
      font-size: 38px;
      &--active {
        transform: translateX(15px);
      }
    }
    &__images-item {
      max-width: 86%;
    }  
  }
}
// ----------------------------------------------------1140----------------------------------------------------
@media (max-width: 1140px) {
  .order-btn {
    width: 180px;
    height: 180px;
  }
  .header {
    &__content-inner {
      max-width: 355px;
      padding-right: 0;
      padding-left: 30px;
    }
    &__title {
      font-size: 72px;
      line-height: 1.05;
    }
  }
  .advant {
    padding: 55px 25px 100px;
    &__list {
      grid-gap: 20px;
    }
    &__item-inner {
      padding-top: 15px;
    }
    &__item-text {
      padding: 20px; 
    }
  }
  .cleaning {
    &__images-item {
      max-width: 90%;
    }  
  }
}
// ----------------------------------------------------1040----------------------------------------------------
@media (max-width: 1040px) {
  .order-btn {
    width: 165px;
    height: 165px;
  }
  .header {
    &__content-inner {
      max-width: 370px;
      padding-left: 45px;
    }
  }
  .cleaning {
    ul.cleaning__room-list {
      padding: 0 0 10px 20px;
    }
    &__room-item {
      font-size: 37px;
      &--active {
        transform: translateX(12px);
      }
    }
  }
}
// ----------------------------------------------------940----------------------------------------------------
@media (max-width: 940px) {
  .order-btn {
    width: 155px;
    height: 155px;
    bottom: 10px;
  }
  .header {
    &__content-inner {
      max-width: 380px;
      padding-left: 55px;
    }
    &__title {
      font-size: 68px;
      line-height: 1;
      margin-bottom: 20px;
    }
  }
  .advant {
    padding: 45px 15px 75px;
    &__list {
      grid-gap: 16px;
    }
    &__item-inner {
      height: 380px;
    }
    &__item-text {
      padding: 15px 20px; 
      line-height: 1.35;
    }
  }
  .cleaning {
    &__top {
      flex-direction: column;
      padding: 0 30px 40px;
    }
    &__text {
      max-width: 100%;
      padding-top: 8px;
    }
    &__content {
      background-color: rgba($accent, .05);
      padding: 0;
      margin: 0;
      &::before {
        display: none;
      }
      &--active {
        .cleaning__images-item {
          transform: translateX(0);
        }
        .cleaning__img {
          height: calc(100vh - 98px) !important;
        }
      }
    }
    ul.cleaning__room-list {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: fit-content;
      padding: 28px 32px;
      transform: translateX(0);
      &::before {
        display: none;
      }
    }
    &__room-item {
      margin-bottom: 0;
      transform: translateX(0);
      &:hover {
        font-style: normal;
        .cleaning__room-link {
          transform: scale(1.1);
          transition: .3s;
        }
      }
      &--active {
        font-style: normal;
        transform: scale(1.1);
      }
    }
    &__room-link {
      font-size: 34px;
    }
    &__images-item {
      top: 98px;
    }
  }
}
// ----------------------------------------------------870----------------------------------------------------
@media (max-width: 870px) {
  .advant {
    padding: 45px 8px 75px;
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item-inner {
      max-width: 100%;
      height: 285px;
    }
    &__item-title {
      max-width: 100%;
    }
  }
}
// ----------------------------------------------------840----------------------------------------------------
@media (max-width: 840px) {
  .header {
    &__top {
      padding: 16px 65px 0 40px;
    }
    &__contact {
      max-width: 216px;
    }
    &__contact-phone {
      &::after {
        right: -15px;
      }
    }
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__bg-wrap {
      &::after {
        content: '';
        background: rgba(#fff, 0.3);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    &__content {
      position: absolute;
      top: 128px;
      left: 0;
    }
    &__content-inner {
      max-width: 100%;
      padding: 10px 20px 10px 40px;
      background: rgba(#fff, 0.75);
    }
    &__title {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
  .menu {
    &__item {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .cleaning {
    &__top {
      padding: 0 20px 32px;
    }
    &__title {
      font-size: 42px;
    }
    &__content {
      &--active {
        .cleaning__img {
          height: calc(100vh - 84px) !important;
        }
      }
    }
    ul.cleaning__room-list {
      padding: 23px 32px;
    }
    &__room-item {
      &:hover {
        .cleaning__room-link {
          transform: scale(1.07);
        }
      }
      &--active {
        transform: scale(1.07);
      }
    }
    &__room-link {
      font-size: 30px;
    }
    &__images-item {
      top: 84px;
    }
  }
}
// ----------------------------------------------------747----------------------------------------------------
@media (max-width: 747px) {
  .header {
    &__top {
      padding: 16px 65px 0 20px;
    }
    &__content-inner {
      padding: 10px 20px 10px 30px;
  }
    &__title {
      font-size: 52px;
    }
  }
}
// ----------------------------------------------------727----------------------------------------------------
@media (max-width: 727px) {
  .order-btn {
    width: 135px;
    height: 135px;
    bottom: 5px;
  }
  .header {
    &__inner {
      margin-top: -51px;
    }
    &__content {
      top: 80px;
    }
    &__content-inner {
      padding: 5px 20px 5px 22px;
    }
    &__title {
      font-size: 48px;
      margin-bottom: 5px;
    }
  }
  .menu {
    color: #fff;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: -520%;
    z-index: 1;
    transition: all .3s;
    &--active {
      top: 120%;
    }
    &__list {
      width: 100%;
      flex-direction: column;
      background: rgba(#fff, 0.3);
      backdrop-filter: blur(3px);
    }
    &__item {
      text-align: center;
      margin: 0;
    }
    &__item-link {
      display: block;
      background-color: $accent;
      padding: 11px 0;
      margin-bottom: 1px;
    }
  }
  .cleaning {
    &__content {
      &--active {
        .cleaning__img {
          height: calc(100vh - 98px) !important;
        }
      }
    }
    ul.cleaning__room-list {
      flex-wrap: wrap;
      padding: 12px 18px;
    }
    &__room-item {
      width: 50%;
      opacity: 1;
      cursor: auto;
      &:hover {
        font-style: normal;
        transform: trannslateX(0) scale(1);
        opacity: 1;
        .cleaning__room-link {
          transform: scale(1);
          &:hover {
            transform: translateX(15px);
          }
        }
        .cleaning__room-link--active {
          transform: translateX(15px);
        }
      }
      &--active {
        font-style: normal;
        transform: translateX(0) scale(1);
        opacity: 1;
      }
    }
    &__room-link {
      width: fit-content;
      font-size: 28px;
      line-height: 1.3;
      opacity: 0.7;
      transition: .3s;
      &:hover {
        font-style: italic;
        opacity: 1;
      }
      &--active {
        font-style: italic;
        opacity: 1;
        transform: translateX(15px);
      }
    }
    &__images-item {
      top: 98px;
    }
    &__img-pointer {
      width: 24px;
      height: 24px;
    }
  }
}
// ----------------------------------------------------590----------------------------------------------------
@media (max-width: 590px) {
  .menu-btn-wrap {
    padding-right: 32px;
    top: 10px;
  }
  .header {
    &__top {
      padding: 12px 0 0 15px;
    }
    &__place {
      margin-left: 10px;
    }
    &__contact {
      position: absolute;
      bottom: -25px;
    }
  }
  .cleaning {
    &__top {
      padding: 0 10px 20px;
    }
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
      line-height: 1.3;
      padding-top: 4px;
    }
    &__images-item {
      max-width: 100%;
    }
  }
}
// ----------------------------------------------------500----------------------------------------------------
@media (max-width: 500px) {
  .advant {
    padding: 45px 0px 75px;
    &__list {
      grid-gap: 12px;
    }
    &__item-inner {
      height: 295px;
    }
    &__item-title {
      font-size: 22px;
      line-height: 1.2;
    }
  }
  .cleaning {
    .pointer-tooltip {
      padding: 6px 8px;
    }
  }
}
// ----------------------------------------------------450----------------------------------------------------
@media (max-width: 450px) {
  .advant {
    padding: 15px 0px 45px;
    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0;
    }
    &__item-text {
      padding: 30px;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 20px;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    background-color: $accent;
  }
  .cleaning {
    &__top {
      padding: 0 0 15px;
    }
    &__title {
      font-size: 36px;
    }
    &__text {
      line-height: 1.2;
    }
    &__content {
      &--active {
        .cleaning__img {
          height: calc(100vh - 87px) !important;
        }
      }
    }
    ul.cleaning__room-list {
      padding: 8px 12px 5px;
    }
    &__room-item {
      &:hover {
        .cleaning__room-link {
          &:hover {
            transform: translateX(7px);
          }
        }
        .cleaning__room-link--active {
          transform: translateX(7px);
        }
      }
    }
    &__room-link {
      font-size: 26px;
      line-height: 1.4;
    }
    &__images-item {
      top: 87px;
    }
  }
}