<div class="cleaning__img-pointer cleaning__img-pointer--fan">
   <span class="pointer-tooltip">Чистим фасад вытяжки</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--fridge">
   <span class="pointer-tooltip">Моем фасады кухонных</br>гарнитуров</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--cooker">
   <span class="pointer-tooltip">Чистим плиту</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--dustbin">
   <span class="pointer-tooltip">Выносим мусор</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--dishes">
   <span class="pointer-tooltip">Моем посуду</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--tabletop">
   <span class="pointer-tooltip">Протираем столешницу</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--floor">
   <span class="pointer-tooltip">Моем пол</span>
</div>