<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Уберем</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   
   <div class="container">
   
      <div class="menu-btn-wrap">
         <div class="menu-btn-pre"></div>
         <div class="menu-btn-buffer"></div>
         <button class="menu-btn" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
         </button>
      </div>
      
       <a class="order" href="#">
         <span class="order__circle">
            <span class="order__text">Заказать уборку</span>
         </span>
       </a>

      <header class="header">
         <div class="header__top">
            <a class="logo" href="#">
               <img class="logo__img" src="images/logo.svg" alt="логотип">
            </a>
            <div class="header__place">
               <a class="header__place-item header__place-item--active header__place-home" href="#">Дом</a>
               <a class="header__place-item header__place-office" href="#">Офис</a>
            </div>
            <nav class="menu">
               <ul class="menu__list">
                  <li class="menu__item">
                     <a class="menu__item-link" href="#">После ремонта</a>
                  </li>
                  <li class="menu__item">
                     <a class="menu__item-link" href="#">Генеральная уборка</a>
                  </li>
                  <li class="menu__item">
                     <a class="menu__item-link" href="#">Регулярная уборка</a>
                  </li>
                  <li class="menu__item">
                     <a class="menu__item-link" href="#">Мойка окон</a>
                  </li>
               </ul>
            </nav>
            <div class="header__contact">
               <a class="header__contact-phone" href="tel:+380674016977">+380 67 401 69 77</a>
               <span class="header__contact-work_hours">24/7</span>
            </div>
            <button class="header__btn">
               <span class="header__btn-line"></span>
               <span class="header__btn-line"></span>
            </button>
         </div>
         <div class="header__inner">
            <div class="header__bg-wrap">
               <img class="header__bg" src="images/header__bg.jpg" alt="фон">
            </div>
            <div class="header__content">
               <div class="header__content-inner">
                  <h1 class="header__title">Уборка квартир в Киеве </h1>
                  <p class="header__subtitle">
                     Мы уберем у вас дома или в офисе. Наведем чистоту после ремонта и проведем генеральную уборку. 
                  </p>
               </div>
            </div>
         </div>
      </header>

      <section class="advant swiper-container">
         <ul class="advant__list swiper-wrapper">
            <li class="advant__item advant__item-card-1 swiper-slide">
               <div class="advant__item-inner">
                  <h3 class="advant__item-title">Тщательно отобранный персонал</h3>
               </div>
               <p class="advant__item-text">
                  Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
               </p>
            </li>
            <li class="advant__item advant__item-card-2 swiper-slide">
               <div class="advant__item-inner">
                  <h3 class="advant__item-title">Качественная эко-химия</h3>
               </div>
               <p class="advant__item-text">
                  Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
               </p>
            </li>
            <li class="advant__item advant__item-card-3 swiper-slide">
               <div class="advant__item-inner">
                  <h3 class="advant__item-title">Контролируем качество</h3>
               </div>
               <p class="advant__item-text">
                  Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
               </p>
            </li>
            <li class="advant__item advant__item-card-4 swiper-slide">
               <div class="advant__item-inner">
                  <h3 class="advant__item-title">Работаем круглосуточно</h3>
               </div>
               <p class="advant__item-text">
                  Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
               </p>
            </li>
         </ul>
         <div class="swiper-pagination"></div>
      </section>

      <section class="cleaning">
         <div class="cleaning__top">
            <h2 class="cleaning__title">Как мы убираем</h2>
            <p class="cleaning__text">
               Клинер приезжает в назначенное время со всем необходимым и сразу приступает к делу. Вам остаётся только оценить результат.
            </p>
         </div>
         <div class="cleaning__content">
            <ul class="cleaning__room-list">
               <li class="cleaning__room-item cleaning__room-item--active">
                  <a class="cleaning__room-link cleaning__room-link--active" href="#kitchen">Кухня</a>
               </li>
               <li class="cleaning__room-item">
                  <a class="cleaning__room-link" href="#rooms">Комнаты</a>
               </li>
               <li class="cleaning__room-item">
                  <a class="cleaning__room-link" href="#bathroom">Ванная</a>
               </li>
               <li class="cleaning__room-item">
                  <a class="cleaning__room-link" href="#hall">Прихожая</a>
               </li>
            </ul>
            <ul class="cleaning__images">
               <li class="cleaning__images-item cleaning__images-item--active" id="kitchen">
                  <img class="cleaning__img" src="images/cleaning/1.jpg" alt="кухня">
                  {% include 'app/module/_kitchen-pointers/_kitchen-pointers.njk' %}
               </li>
               <li class="cleaning__images-item" id="rooms">
                  <img class="cleaning__img" src="images/cleaning/1.jpg" alt="комната">
                  {% include 'app/module/_kitchen-pointers/_kitchen-pointers.njk' %}
               </li>
               <li class="cleaning__images-item" id="bathroom">
                  <img class="cleaning__img" src="images/cleaning/2.jpg " alt="ванная">
               </li>
               <li class="cleaning__images-item" id="hall">
                  <img class="cleaning__img" src="images/cleaning/2.jpg" alt="прихожая">
               </li>
            </ul>
         </div>
      </section>
      
   </div>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
   <script src="js/main.min.js"></script>
</body>
</html>