<div class="cleaning__img-pointer cleaning__img-pointer--mirror">
   <span class="pointer-tooltip">Моем зеркало</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--tile">
   <span class="pointer-tooltip">Моем плитку</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--furn">
   <span class="pointer-tooltip">Чистим мебель</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--bowl">
   <span class="pointer-tooltip">моем унитаз</span>
</div>
<div class="cleaning__img-pointer cleaning__img-pointer--bath">
   <span class="pointer-tooltip">моем ванну</span>
</div>